{% extends "base.html" %}

{% block additional_styles %}
<style>
    body {
        background-image: url(./static/images/golden_gate_bridge.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock %}

{% block title %}
    Let's Get You a Job - Home
{% endblock title %}


{% block content %}
<div id="home-content" class="container">
  <div class="row">

      <div class="col-lg-3"></div> <!-- Column for spacing -->

      <div class="col-lg-6">
          <div class="mt-5 mb-3 text-center">
            <img id= 'project-logo' src='./static/images/logo.png'>
          </div>

          <form method="GET" action="/search-results/">
              <div class="input-group mb-2">
                  <input name="searchterm" type="text" class="form-control form-control-lg" placeholder="Let's find a job..." />
                  <input name="searchlocation" type="text" class="form-control form-control-lg" placeholder="Location..." />
                  <div class="input-group-append">
                      <button class="btn btn-primary btn-lg">
                      Search</button></a>
                  </div>
              </div>

          </form>
      </div>
  </div>
</div>


{% endblock content %}


