/* Custom CSS goes here */

.navbar.navbar-expand-md {
    background: #2E1D2C;
}

.nav-link, .navbar-brand {color: white;

}

.card-user {
    max-width: 80px;
}

.navbar-avatar {
    height: 30px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#home-content {
    padding-top: 100px;
}

#project-logo{
    height: 250px
}

/* for search_results.html */
.list-group-item {
	padding-right: 50px;
}

.mb-1 {
	font-weight: bold;
}

